In [3]:
import requests
import pandas as pd
import datetime

def coinex_future(market,period,limit):
        headers = {
                'Content-Type': 'application/json; charset=utf-8',
                'Accept': 'application/json',}
        result = requests.get(
            'https://api.coinex.com/perpetual/v1/market/kline?market={market}&type={period}&limit={limit}'.format(
                market=market,period=period,limit=limit
            ),
            headers=headers
        )

        df = result.json()
        df=pd.DataFrame(df["data"])
        df.columns = ['Timestamp', 'open', 'close', 'high', 'low', 'volume', 'value']
        df['Timestamp'] = pd.to_datetime(df['Timestamp'], unit='s')
        df['date'] = df['Timestamp'].dt.strftime("%d/%m/%Y")
        df['time-utc'] = df['Timestamp'].dt.strftime("%H:%M:%S")
        df.drop(['value','Timestamp'], inplace=True, axis=1)
        df=df[["date", "time-utc", "open", "high", "low", "close", "volume"]]
        return df

market='BTCUSDT'
period='1min'
limit='100'
df=coinex_future(market,period,limit)
df

          date  time-utc      open      high       low     close   volume
0   20/03/2022  10:32:00  41769.02  41774.00  41769.01  41774.00   0.3613
1   20/03/2022  10:33:00  41773.99  41775.95  41769.02  41775.95   1.5322
2   20/03/2022  10:34:00  41775.95  41790.47  41775.94  41786.42   8.0010
3   20/03/2022  10:35:00  41786.42  41786.43  41786.42  41786.42   1.2717
4   20/03/2022  10:36:00  41786.42  41793.38  41779.20  41789.15   4.4961
..         ...       ...       ...       ...       ...       ...      ...
95  20/03/2022  12:07:00  41450.00  41456.83  41432.00  41441.95   4.6528
96  20/03/2022  12:08:00  41441.96  41447.34  41391.42  41447.33  13.4739
97  20/03/2022  12:09:00  41447.34  41476.96  41447.33  41476.95   7.0843
98  20/03/2022  12:10:00  41476.95  41476.96  41429.04  41434.83   4.0320
99  20/03/2022  12:11:00  41434.83  41437.04  41420.32  41423.05   5.9153

[100 rows x 7 columns]

In [ ]:
1min:1min;
3min:3min;
5min:5min;
15min:15min;
30min:30min;
1hour:1hour;
2hour:2hour;
4hour:4hour;
6hour:6hour;
12hour:12hour;
1day:1day;
3day:3day;
1week:1week;